<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 4</title>
	<link rel="stylesheet" type="text/css" href="layout4.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		<div id="header" >
			<div class="wp-inner">Header</div>
		</div>
		
		<div id="content"class="wp-inner">Content</div>
			
		<div id="footer" >
			<div class="wp-inner">Footer</div>
		</div>
	</div>
</body>
</html>