
body{
	font-size: 20px;
	font-family: "Roboto Condensed";
	line-height: 22px;
}
#header{
	background: #2bbc9b;

}
#logo{
	    padding: 10px 0px 15px 215px;
}
#main-menu li{
	float: left;
}
#main-menu li a{
	color: #fff;
	text-transform: uppercase;
	padding: 32px 28px;
	display: block;
}
#main-menu li.active a,#main-menu li:hover a{
	background: #24a085;
	transition: all 0.25s;
}
