*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
#big-background{
  background-image: url(../image/anh1.jpg);
  width: 100vw;
  height: 100vh;
  position: relative;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.nav-pof{
  /* position: absolute; */
  display: flex;
  flex-direction: row;
}
.logo{
  width: 30vw;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding: 12px;
  
}
.nav-item{
  display: flex;
  justify-content: flex-end;
}
.nav-pof p {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 15px 50px;
  align-items: center;
}
.nav-pof p:hover {
  background: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.nav-pof p:active{
  color: yellow;
  background: none;
}
.nav-pof .search-container {
  /* float: right; */
  margin-top: 5px;
  margin-left: 50px;
}

.nav-pof input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: none;
}


.nav-pof .search-container button {
  /* float: right; */
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #b7a317;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.nav-pof .search-container button:hover {
  background: #ccc;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dotAll{
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.ra {
  opacity:1 !important; 
  visibility: visible !important;
}

#footer p{
  color: #fff;
}

.f-left{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 25px;
  color: white;
}
.f-right{
  position: absolute;
  bottom: 10px;
  right: 25px;
  font-size: 18px;
  color: white;
}

#formm{
  position: absolute;
  top: 120px;
  left: 70px;
  width: 440px;
  height: 460px;
  border: 2px solid #ceb41c;
  border-radius: 10px;
  color: #bbbb22;
  padding-top: 50px;
  padding-left: 40px;
  background:rgba(0,0,0,0.5);
  z-index: 2;
}
.ok{
  opacity: 0;
  visibility: hidden;
}
.ra {
  opacity:1 !important; 
  visibility: visible !important;
}
#formm{
  z-index: 1;
}
#formm h1{
  text-align: center;
  padding-bottom: 55px;
}
#formm input{
  border-radius: 25px;
  width: 360px;
  height: 30px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid yellow;
}
#formm button{
  float: right;
  font-size: 22px;
  margin-right: 36px;
  border: 1px solid white;
  border-radius: 19px;
  padding: 5px 30px;
  color: white;
  margin-top: 75px;
  background: #383634;
  background: none;
  cursor: pointer;
}
#formm button:hover{
  background: yellow;
  color: rgb(15, 15, 15);
  border: 1px solid rgb(15, 15, 15);
}
/* nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.nav-l{
  width: 30%;
  height: 90%;
  float: left;
  border-right: 1px solid yellow;
  margin-bottom: 10%;
}
.nav-r{
  width: 70%;
  height: 100%;
  float: right;
  color: 423e3e;
  display: flex;
  flex-wrap: wrap;
}
.nav-r .item-child{
  border: 1px solid yellow;
  width: 150px;
  height: 150px;
  padding: 21px;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  padding-top: 6%;
}
.nav-l a {
  height:20%;
  text-decoration: none;
  font-size: 25px;
  color: #423e3e;
  display: block;
  transition: 0.3s;
  padding-left: 5%;
  font-weight: bold;
  text-align: center;
}

.sidenav a:hover {
  color: yellowgreen;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {


}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
  .search-container{
    display: none;
  } 

}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
  .logo{
    width: 10vw;
  }
  /* .nav-pof p{
    padding: 15px 15px;
  }
  .logo{
    margin-right: 50px;
  }
  .search-container{

    margin-left: 50px;
  } */
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
  .logo{
    width: 10vw;
  }
  /* .nav-pof p{
    padding: 15px 50px;
  }
  
  .search-container{
    margin-left: 80px;
  } */

}   
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
